<main class="form-signin createFam">
  <form>
    <h1 class="h3 mb-3 fw-normal">Create Account</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="firstnameField" placeholder="Degen">
      <label for="firstnameField">First Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="lastnameField" placeholder="Degen">
      <label for="lastnameField">Last Name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
      <label for="emailField">Email Address</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="usernameField" placeholder="5">
      <label for="usernameField">username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passwordField" placeholder="Password">
      <label for="passwordField">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-dark" type="submit" id="familyBtn">Create Account</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>