{{> navbar}}
  <div class="container">
    <div class="row">
      <div class="col-8 news">
        NEWS
      </div>
      <div class="col-4 rightSide">
        <div class="topPlayers" id="players">
            TOP PLAYERS           
        </div>        
        <div class="events">
         UPCOMING EVENTS            
        </div>
      </div>
    </div>
  </div>    

    <div class="container">
    <div class="row">
        <div class="col-1">
        </div>
      <div class="col-4 contactForm">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>   
      </div>
      <div class="col-4">
        <div class = "contact">
         CONTACT INFO           
        </div>
      </div>
    </div>
  </div>