<div class="container">
    <div class="row col-12">
        <div class="col-12">Tournament Name</div>
        <div class="col-12">Division</div>
        <div class="col-3">Winning Player</div>
        <div class="col-3">defeated</div>
        <div class="col-3">Losing Player</div>
        <div class="col-3">Score</div>
        <div class="col-6">New Rank</div>
        <div class="col-6">New Rank</div>
        <button type="button" class="btn btn-secondary">Like</button>
        <button type="button" class="btn btn-secondary">Comment</button> 
    </div>
</div>