<div class="container">
    <div class="row col-12">
    <div class="card col-12 bg-light">
      <h4 class="card-header col-12">Tournament</h4>
      <div class="card-body">
        <h5 class="card-title col-12">Division</h5>
        <a class="col-3">Winning Player</a>
        <a class="col-3">defeated</a>
        <a class="col-3">Losing Player</a>
        <a class="col-3">Score</a>
        <div>
        <a class=" col-3">New Rank</a>
        <a class=" col-3">New Rank</a>  
        </div>
        <button type="button" class="btn btn-secondary col-2">Like</button>
        <button type="button" class="btn btn-secondary col-2">Comment</button>      
      </div>
    </div>
  </div>
</div>
