.news {
    border: 1px solid black;
    margin-top: 10px;
    background-color: pink;
}

.events {
    border: 1px solid black;
    margin-top: 10px;
}
.topPlayers {
    border: 1px solid black;
    margin-top: 10px;
    /* background-color: pink; */
}
/* #players 
    /* background-color: green; */
.ranking {
    border: 1px solid black;
}